<div class="facet-suggest-group position-relative">
  <label class="visually-hidden" for="facet_suggest_<%= key %>">
    <%= I18n.t('blacklight.search.facets.suggest.label', field_label: label.downcase) %>
  </label>
  <span class="facet-suggest-icon position-absolute top-50 translate-middle-y">
    <%= render Icons::SearchComponent.new %>
  </span>
  <%= search_field_tag "facet_suggest_#{key}",
    nil,
    class: "facet-suggest form-control",
    data: {
      facet_field: key,
      facet_search_context: helpers.search_facet_path(id: key)
    },
    placeholder: I18n.t('blacklight.search.facets.suggest.placeholder', field_label: label.downcase)
  %>
</div>
