/* Range limit facet */

.chart-wrapper {
  background-color: var(--stanford-fog-light);
}

.range_limit_form input[type="number"] {
  width: 5rem;
  font-weight: 600;
}

.range-limit-reset {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-hover-color: var(--bs-primary);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
}
