.browseitem {
  margin-right: 10px;
  margin-bottom: 10px;
}

.pagesection {
  margin-bottom: 10px;
}

.queryresult {
  background-color: #f7fafb;
  border: 1px solid #016895;
  padding: 15px;
  margin-right: 15px;
}

.queryresult a {
  text-decoration: none;
}

.highlight {
  background-color: #f7fafb;
  border: 1px solid #016895;
}
